<head>
<title>
HOME PAGE
</title>
<head>
<body>
<h1>
	Welcome to my HOME PAGE!
</h1>
	<br/>
<p>
You can access my other pages with the following links!
</p>
<br/>
<a href="/secondpage"> SECOND PAGE </a>
<br/>
<a href="/thirdpage"> THIRD PAGE </a>
<br/>
<a href="/fourthpage"> FOURTH PAGE </a>
</body>